{# Home: last_posts lo envía HomeView.get_context_data #}
{% extends "general/layout.html" %}

{% block head_title %}Bienvenido a nustro Istagram{% endblock %}


{% block page_content %}
<div class="container">
   {% include '_includes/_messages.html' %}
   
   <h1>HomePage</h1>
   {% if request.user.is_authenticated %}
   <p>Has iniciado sesión como <strong>{{ request.user.username }}</strong>.</p>
   {% else %}
   <p>No has iniciado sesión. Usa <a href="{% url 'login' %}">Login</a> para entrar.</p>
   {% endif %}
   <section>
      <h2>Ultimas Publicaciones</h2>
      <div class="row">
         {# Bucle: un include por cada publicación (componente reutilizable) #}
         {% for post in last_posts %}
               <div class="col-12 col-sm-6 col-md-4">
                  {% include '_includes/posts/_posts.html' %}
               </div>
         
         {% endfor %} 
      </div>
   </section>
</div>

{% endblock %}