{% extends "general/layout.html" %}

{% block head_title %}Bienvenido a nustro Istagram{% endblock %}


{% block page_content %}
<div class="container">
   <h1>Perfil</h1>
   <p>Este es el perfil de {{ profile.user.username }}</p> 
   <p>Biografia: {{  profile.bio|default_if_none:"sin rellenar" }}</p>
   <p>Fecha Nacimiento: {{ profile.birth_date|default_if_none:"sin rellenar" }}</p>
   <p>
      {% if profile.profile_picture %}
            <img width="100px" src="{{profile.profile_picture.url}}" alt="">
      {% else %}
      <p>No dispone de imagen de perfil</p>
      {% endif %}
   </p>
   <p>Seguidores: {{profile.followers.count}}</p>
   {% if profile.user == request.user %}
   <p><a href="{% url 'profile_update' profile.pk %}">Editar</a></p>
   {% endif %}
   <section>
      <h2>Publicaciones</h2>
      <div class="row">
         {% for post in last_posts %}
               <div class="col-12 col-sm-6 col-md-4">
                  {% include '_includes/posts/_posts.html' %}
               </div>
         
         {% endfor %} 
      </div>
   </section>
</div>

{% endblock %}