{% extends "general/layout.html" %}
{% load crispy_forms_tags %}
{% block head_title %}Bienvenido a nustro Istagram{% endblock %}


{% block page_content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card shadow-sm mx-auto" style="max-width: 400px;">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Registro</h2>
                    {% include '_includes/_messages.html' %}
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form.first_name|as_crispy_field }}
                        {{ form.username|as_crispy_field }}
                        {{ form.email|as_crispy_field }}
                        {{ form.password|as_crispy_field }}
                        <button type="submit" class="btn btn-primary w-100 mt-3">Registrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}